<%= form_for(@article, html: { multipart: true }) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :contenido %><br>
    <%= f.text_area :contenido %>
  </div>
  <span class="picture">
    <%= f.file_field :picture %>
  </span>
  <span>
    <%= f.collection_select :area_id, Area.all, :id, :nombre %>
  </span>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
