<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Contenido</th>
      <th>Fecha creación</th>
      <th>Fecha modificación</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.titulo %></td>
        <td><%= article.contenido %></td>
        <td><%= article.created_at.to_formatted_s(:db) %></td>
        <td><%= article.updated_at.to_formatted_s(:db) %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @articles %>
<br>

<%= link_to 'New Article', new_article_path %>
