<div class="row">
  <div class="large-9 columns" role="content">
    <section>
      <% @articles.each do |articulo| %>
        <article>
          <h3><%= articulo.titulo %><%= articulo.area.nombre %></h3>
          <h6>Escrito el <%= articulo.created_at.to_formatted_s(:db) %></h6>
          <div class="row">
            <div class="large-6 columns">
              <p><%= truncate(articulo.contenido, length: 260) %></p>
              <%= link_to 'Artículo completo', article_path(articulo), class: "right" %>
            </div>
            <div class="large-6 columns">
            <% if articulo.picture? %>
              <%= image_tag articulo.picture.url, alt: 'Sin acceso a la imagen'  %>
            <% else %>
              <img src="http://placehold.it/400x240&text=[img]"/>
            <% end %>
            </div>
          </div>
        </article>
      <% end %>
      <%= paginate @articles, area: params[:area] %>
    </section>
  </div>
  <aside class="large-3 columns">
    <h5>Categorias</h5>
    <ul class="side-nav">
    <% @areas.each do |area| %>
      <li><%= link_to area.nombre, root_path(area: area) %></li>
    <% end %>
    </ul>
    <div class="panel">
      <h5>Featured</h5>
      <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
      <a href="#">Read More →</a>
    </div>
  </aside>
</div>