<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pacartaya</title>
    <%= stylesheet_link_tag    "application", media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <% if notice %>
    <div data-alert class="alert-box" tabindex="0" aria-live="assertive" role="alertdialog">
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div data-alert class="alert-box alert" tabindex="0" aria-live="assertive" role="alertdialog">
      <%= alert %>
    </div>
  <% end %>
    <div class="contain-to-grid sticky">
      <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
        <ul class="title-area" >
          <li class="name">
            <h1><%= link_to 'Partido Andalucista de Cartaya', root_path %></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <% if user_signed_in? %>
          <ul class="left">
            <li><%= link_to current_user.email %></li>
          </ul>
          <% end %>
          <ul class="right">
            <li><%= link_to 'Portada', root_path %></li>
            <% if user_signed_in? %>
            <li><%= link_to 'Articulos', articles_path %></li>
            <li><%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete  %></li>
            <% else %>
            <li><%= link_to 'Iniciar sesión', new_user_session_path %></li>
            <% end %>
          </ul>
        </section>
      </nav>
    </div>
    <%= yield %>

  </body>
  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>Light Coast Labs</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <%= debug(params) if Rails.env.development? %>
</html>
